/*created by yancey qq:1352667433*/
/*public styles*/
*{
	outline: none !important;
}
html,body{
	font-size: 12px;
	height:100%;
}
.ml10{
	margin-left:10px;
}
.ml20{
	margin-right:20px;
}
.mr10{
	margin-right: 10px;
}
.mr20{
	margin-right:20px;
}
.col1{
	color:#ffd102;
}
/*header*/
#header{
	font-size: 12px;
	position: relative;
}
#header .dropdown-menu{
	min-width: 81px;
	font-size: 12px;
}

/*top*/
#top{
	padding:10px 0;
	font-size:12px;
	position: relative;
}
#top form{
	margin-top: 12px;
}

#search .form-group{
	position: relative;
}
#search input{
	border-radius: 0;
	border:1px solid #ffd102;
}
#search button{
	width: 80px;
	height:32px;
	border-radius: 0;
	background:#ffd102 url(../img/search.png) no-repeat 30px 5px;
	border: medium none;
  direction: ltr;
  padding: 0;
  position: absolute;
  top: 1px;
  right:0;
  outline: none;
}

/*center navbar*/
.g-navbar{
	background:#ffd102;
	font-size:14px;
}
.g-navbar a{
	outline: none;
}

/*content*/
#content{
	padding-bottom: 25px;
	position: relative;
	min-height: 50%;
	width: auto;
}
#content .nav-tabs li a{
	border-radius: 0;
}
.piece{
	background:#f4f4f4;
	padding:10px 10px;
}

.section{
	background:#f4f4f4;
}

/*login*/
#login .form{
	position: relative;
}
#login .form .form-group{
	margin-bottom: 10px;
}
#login .form .form-group:nth-of-type(1){
	margin-top: 10px;
}
#login .form .form-group input{
	border-radius: 0;
}
#login .form .sub button{
	min-height:44px;
	width:100%;
	display: block;
	background: #ffd102;
	border:none;
	border-radius: 0;
	color:#000;
}
#code{
	position: absolute;
	right:-80px;
	top:0;
	border:none;
	height:32px;
	background:#ffd102;
}

/*footer*/
#footer{
	min-height:144px;
	background:#282828;
	padding-top: 84px;
}
#footer ul{
	padding:0;
}
#footer ul li{
	list-style: none;
	float:left;
	margin-right: 6px;
	padding-right: 6px;
	border-right:1px solid #7d7d7d;
}
#footer ul>li>a{
	color:#7d7d7d;
}
#footer p{
	float: left;
	color:#7d7d7d;
}








